In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
yh_file = "yfapi_data_nrmal.csv"
stocks_df = pd.read_csv(yh_file)
stocks_df.head()

,Unnamed: 0,ticker,company_name,day_open,day_high,day_low,fifty_day_moving_avg,two_hundred_day_moving_avg,num_rating,rating,norm_rating
0,0,AAPL,Apple Inc.,167.99,172.6400,167.65,166.3880,154.85630,1.8,Buy,4
1,1,GOOGL,Alphabet Inc.,2774.05,2791.7700,2757.01,2693.1436,2742.93020,1.7,Buy,4
2,2,MSFT,Microsoft Corporation,300.51,303.2200,297.73,297.7866,301.60526,1.7,Buy,4
3,3,AMZN,"Amazon.com, Inc.",3274.10,3326.5250,3253.74,3036.9736,3331.57800,1.7,Buy,4
4,4,FB,"Meta Platforms, Inc.",213.33,216.7988,212.16,245.4686,319.92676,2.1,Buy,4

In [3]:
stocks_df.columns

Index(['Unnamed: 0', 'ticker', 'company_name', 'day_open', 'day_high',
       'day_low', 'fifty_day_moving_avg', 'two_hundred_day_moving_avg',
       'num_rating', 'rating', 'norm_rating'],
      dtype='object')

In [5]:
stocks_df = stocks_df.drop(columns=['Unnamed: 0'])

KeyError: "['Unnamed: 0'] not found in axis"

In [6]:
stocks_df.head()

,ticker,company_name,day_open,day_high,day_low,fifty_day_moving_avg,two_hundred_day_moving_avg,num_rating,rating,norm_rating
0,AAPL,Apple Inc.,167.99,172.6400,167.65,166.3880,154.85630,1.8,Buy,4
1,GOOGL,Alphabet Inc.,2774.05,2791.7700,2757.01,2693.1436,2742.93020,1.7,Buy,4
2,MSFT,Microsoft Corporation,300.51,303.2200,297.73,297.7866,301.60526,1.7,Buy,4
3,AMZN,"Amazon.com, Inc.",3274.10,3326.5250,3253.74,3036.9736,3331.57800,1.7,Buy,4
4,FB,"Meta Platforms, Inc.",213.33,216.7988,212.16,245.4686,319.92676,2.1,Buy,4

In [7]:
mw_file = "articles_scrape_data_normal.csv"
articles_df = pd.read_csv(mw_file)
articles_df.head()

,Unnamed: 0,ticker,analyst_rating,article_title,article_date,link,norm_rating
0,0,AAPL,Over,Apple Inc. stock outperforms market on strong ...,"Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/apple-inc-st...,4
1,1,GOOGL,Buy,Alphabet Inc. Cl A stock underperforms Wednesd...,"Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/alphabet-inc...,5
2,2,MSFT,Buy,"Microsoft Corp. stock falls Wednesday, underpe...","Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/microsoft-co...,5
3,3,AMZN,Buy,What Ryan Cohen’s Insider Buys Say About GameS...,"Mar. 23, 2022 at 6:19 p.m. ET",https://www.marketwatch.com/articles/gamestop-...,5
4,4,FB,Over,"Meta Platforms Inc. stock falls Wednesday, und...","Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/meta-platfor...,4

In [8]:
articles_df = articles_df.drop(columns=['Unnamed: 0'])

In [9]:
articles_df.head()

,ticker,analyst_rating,article_title,article_date,link,norm_rating
0,AAPL,Over,Apple Inc. stock outperforms market on strong ...,"Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/apple-inc-st...,4
1,GOOGL,Buy,Alphabet Inc. Cl A stock underperforms Wednesd...,"Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/alphabet-inc...,5
2,MSFT,Buy,"Microsoft Corp. stock falls Wednesday, underpe...","Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/microsoft-co...,5
3,AMZN,Buy,What Ryan Cohen’s Insider Buys Say About GameS...,"Mar. 23, 2022 at 6:19 p.m. ET",https://www.marketwatch.com/articles/gamestop-...,5
4,FB,Over,"Meta Platforms Inc. stock falls Wednesday, und...","Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/meta-platfor...,4

Connect to database

In [10]:
rds_connection_string = "postgres:admin@localhost:5432/group_2_project_2"
engine = create_engine(f'postgresql://{rds_connection_string}')

Check for tables

In [11]:
engine.table_names()

/var/folders/4s/j3_l93ts54qgnyg57c9s590m0000gn/T/ipykernel_24959/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['stocks', 'articles']

Use Pandas to load dataframe into database

In [21]:
stocks_df.to_sql(name='stocks', con=engine, if_exists='append', index=False)

In [12]:
pd.read_sql_query('select * from stocks', con=engine).head()

,ticker,company_name,day_open,day_high,day_low,fifty_day_moving_avg,two_hundred_day_moving_avg,num_rating,rating,norm_rating
0,AAPL,Apple Inc.,168,173,168,166,155,2,Buy,4
1,GOOGL,Alphabet Inc.,2774,2792,2757,2693,2743,2,Buy,4
2,MSFT,Microsoft Corporation,301,303,298,298,302,2,Buy,4
3,AMZN,"Amazon.com, Inc.",3274,3327,3254,3037,3332,2,Buy,4
4,FB,"Meta Platforms, Inc.",213,217,212,245,320,2,Buy,4

In [13]:
articles_df.columns

Index(['ticker', 'analyst_rating', 'article_title', 'article_date', 'link',
       'norm_rating'],
      dtype='object')

In [14]:
stocks_df['ticker'].count()

47

In [15]:
stocks_list = stocks_df['ticker'].unique()
stocks_list

array(['AAPL', 'GOOGL', 'MSFT', 'AMZN', 'FB', 'GOOG', 'TSLA', 'NVDA',
       'JPM', 'UNH', 'JNJ', 'PG', 'V', 'HD', 'BAC', 'XOM', 'MA', 'DIS',
       'CVX', 'ABBV', 'KO', 'CSCO', 'AVGO', 'COST', 'PEP', 'VZ', 'ADBE',
       'TMO', 'ABT', 'CMCSA', 'WFC', 'CRM', 'LLY', 'INTC', 'WMT', 'MRK',
       'AMD', 'QCOM', 'DHR', 'NKE', 'T', 'NFLX', 'UNP', 'PM', 'LOW',
       'TXN', 'ROKU'], dtype=object)

In [16]:
articles_df.loc[~articles_df['ticker'].isin(stocks_list)]

,ticker,analyst_rating,article_title,article_date,link,norm_rating
18,PFE,Over,Pfizer Inc. stock underperforms Wednesday when...,"Mar. 23, 2022 at 5:14 p.m. ET",https://www.marketwatch.com/story/pfizer-inc-s...,4
34,ACN,Over,Accenture PLC Cl A stock outperforms competito...,"Mar. 23, 2022 at 4:33 p.m. ET",https://www.marketwatch.com/story/accenture-pl...,4

In [17]:
articles_df = articles_df.loc[articles_df['ticker'].isin(stocks_list)]
articles_df.head()

,ticker,analyst_rating,article_title,article_date,link,norm_rating
0,AAPL,Over,Apple Inc. stock outperforms market on strong ...,"Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/apple-inc-st...,4
1,GOOGL,Buy,Alphabet Inc. Cl A stock underperforms Wednesd...,"Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/alphabet-inc...,5
2,MSFT,Buy,"Microsoft Corp. stock falls Wednesday, underpe...","Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/microsoft-co...,5
3,AMZN,Buy,What Ryan Cohen’s Insider Buys Say About GameS...,"Mar. 23, 2022 at 6:19 p.m. ET",https://www.marketwatch.com/articles/gamestop-...,5
4,FB,Over,"Meta Platforms Inc. stock falls Wednesday, und...","Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/meta-platfor...,4

In [18]:
articles_df.to_sql(name='articles', con=engine, if_exists='append', index=False)

In [19]:
pd.read_sql_query('select * from articles', con=engine).head()

,ticker,analyst_rating,article_title,article_date,link,norm_rating
0,AAPL,Over,Apple Inc. stock outperforms market on strong ...,"Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/apple-inc-st...,4
1,GOOGL,Buy,Alphabet Inc. Cl A stock underperforms Wednesd...,"Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/alphabet-inc...,5
2,MSFT,Buy,"Microsoft Corp. stock falls Wednesday, underpe...","Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/microsoft-co...,5
3,AMZN,Buy,What Ryan Cohen’s Insider Buys Say About GameS...,"Mar. 23, 2022 at 6:19 p.m. ET",https://www.marketwatch.com/articles/gamestop-...,5
4,FB,Over,"Meta Platforms Inc. stock falls Wednesday, und...","Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/meta-platfor...,4