In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [15]:
yh_file = "yfapi_data_nrmal.csv"
stocks_df = pd.read_csv(yh_file)
stocks_df.head()

,Unnamed: 0,ticker,company_name,day_open,day_high,day_low,fifty_day_moving_avg,two_hundred_day_moving_avg,num_rating,rating,norm_rating
0,0,AAPL,Apple Inc.,167.99,172.6400,167.65,166.3880,154.85630,1.8,Buy,4
1,1,GOOGL,Alphabet Inc.,2774.05,2791.7700,2757.01,2693.1436,2742.93020,1.7,Buy,4
2,2,MSFT,Microsoft Corporation,300.51,303.2200,297.73,297.7866,301.60526,1.7,Buy,4
3,3,AMZN,"Amazon.com, Inc.",3274.10,3326.5250,3253.74,3036.9736,3331.57800,1.7,Buy,4
4,4,FB,"Meta Platforms, Inc.",213.33,216.7988,212.16,245.4686,319.92676,2.1,Buy,4

In [16]:
stocks_df.columns

Index(['Unnamed: 0', 'ticker', 'company_name', 'day_open', 'day_high',
       'day_low', 'fifty_day_moving_avg', 'two_hundred_day_moving_avg',
       'num_rating', 'rating', 'norm_rating'],
      dtype='object')

In [18]:
stocks_df = stocks_df.drop(columns=['Unnamed: 0'])
stocks_df

,ticker,company_name,day_open,day_high,day_low,fifty_day_moving_avg,two_hundred_day_moving_avg,num_rating,rating,norm_rating
0,AAPL,Apple Inc.,167.990,172.6400,167.6500,166.3880,154.85630,1.8,Buy,4
1,GOOGL,Alphabet Inc.,2774.050,2791.7700,2757.0100,2693.1436,2742.93020,1.7,Buy,4
2,MSFT,Microsoft Corporation,300.510,303.2200,297.7300,297.7866,301.60526,1.7,Buy,4
3,AMZN,"Amazon.com, Inc.",3274.100,3326.5250,3253.7400,3036.9736,3331.57800,1.7,Buy,4
4,FB,"Meta Platforms, Inc.",213.330,216.7988,212.1600,245.4686,319.92676,2.1,Buy,4
5,GOOG,Alphabet Inc.,2782.770,2800.5000,2763.3400,2695.3997,2765.66000,1.5,Strong Buy,5
6,TSLA,"Tesla, Inc.",979.940,1040.7000,976.7500,900.3418,854.58716,2.5,Buy,4
7,NVDA,NVIDIA Corporation,261.260,266.1150,255.7501,243.8352,238.35402,2.0,Buy,4
8,JPM,JP Morgan Chase & Co.,140.980,141.5850,139.1999,146.8884,156.77010,2.5,Buy,4
9,UNH,UnitedHealth Group Incorporated,502.270,507.0600,501.3348,478.1448,442.89334,1.9,Buy,4
10,JNJ,Johnson & Johnson,175.230,175.5400,174.0900,169.0054,167.50030,2.1,Buy,4
11,PG,Procter & Gamble Company (The),152.200,153.0100,150.6900,156.2470,147.41235,2.4,Buy,4
12,V,Visa Inc.,215.300,217.2850,214.2000,215.2774,222.92880,1.7,Buy,4
13,HD,"Home Depot, Inc. (The)",326.900,328.1900,315.8500,345.8964,349.85760,2.1,Buy,4
14,BAC,Bank of America Corporation,43.720,44.0100,43.0300,45.1530,43.43840,2.3,Buy,4
15,XOM,Exxon Mobil Corporation,83.340,84.2700,83.0500,78.0540,64.77270,2.5,Buy,4
16,MA,Mastercard Incorporated,343.400,346.7300,341.7500,359.0146,357.44540,1.8,Buy,4
17,DIS,Walt Disney Company (The),139.070,139.7600,137.5400,144.1144,163.59634,2.0,Buy,4
18,CVX,Chevron Corporation,166.000,167.3463,164.9400,142.3968,116.00470,2.2,Buy,4
19,ABBV,AbbVie Inc.,160.010,161.1800,158.3600,143.9914,123.45500,2.1,Buy,4
20,KO,Coca-Cola Company (The),60.750,60.9800,59.9950,60.7612,57.01060,2.1,Buy,4
21,CSCO,"Cisco Systems, Inc.",55.900,56.0900,54.4500,56.2980,56.38825,2.4,Buy,4
22,AVGO,Broadcom Inc.,608.000,611.3400,599.1600,584.0504,537.50793,1.9,Buy,4
23,COST,Costco Wholesale Corporation,556.950,560.6063,551.9600,516.3028,480.40850,2.2,Buy,4
24,PEP,"Pepsico, Inc.",164.248,165.2750,162.6600,167.5764,160.52610,2.4,Buy,4
25,VZ,Verizon Communications Inc.,51.050,51.4563,50.9600,53.1624,53.83680,2.7,Hold,3
26,ADBE,Adobe Inc.,437.510,437.9800,416.4700,481.0390,582.51670,1.8,Buy,4
27,TMO,Thermo Fisher Scientific Inc,581.600,583.0800,569.9500,568.5154,573.96000,1.8,Buy,4
28,ABT,Abbott Laboratories,121.110,121.2400,116.7350,123.4590,124.01855,2.0,Buy,4
29,CMCSA,Comcast Corporation,47.150,47.3500,46.5200,48.0834,53.43965,2.1,Buy,4
30,WFC,Wells Fargo & Company,52.760,53.0500,51.0950,53.9430,49.18300,2.0,Buy,4
31,CRM,Salesforce.com Inc,213.870,213.9300,208.3100,213.0898,251.00415,1.8,Buy,4
32,LLY,Eli Lilly and Company,284.420,288.1800,283.3500,252.4196,248.92995,2.0,Buy,4
33,INTC,Intel Corporation,48.460,49.5800,48.0601,48.9772,52.11470,2.9,Hold,3
34,WMT,Walmart Inc.,143.140,143.7300,141.5200,139.8566,142.39790,2.0,Buy,4
35,MRK,"Merck & Company, Inc.",79.300,80.5800,79.2300,78.5520,77.89430,2.2,Buy,4
36,AMD,"Advanced Micro Devices, Inc.",114.290,117.5400,112.2100,117.5262,115.73820,2.2,Buy,4
37,QCOM,QUALCOMM Incorporated,156.110,157.2100,152.5800,167.5698,154.74150,2.0,Buy,4
38,DHR,Danaher Corporation,291.320,291.3550,285.4300,278.9062,296.89206,1.8,Buy,4
39,NKE,"Nike, Inc.",132.640,135.4000,131.2000,139.1092,155.40704,2.1,Buy,4
40,T,AT&T Inc.,23.210,23.4500,23.1700,24.4608,26.04200,2.7,Hold,3
41,NFLX,"Netflix, Inc.",379.770,382.4600,374.4900,406.2238,539.34265,2.3,Buy,4
42,UNP,Union Pacific Corporation,265.060,269.7700,264.5200,249.6834,232.31870,2.0,Buy,4
43,PM,Philip Morris International Inc,92.720,93.1350,91.1600,101.3498,98.27800,2.3,Buy,4
44,LOW,"Lowe's Companies, Inc.",227.000,227.9500,219.8301,229.6676,219.84586,1.9,Buy,4
45,TXN,Texas Instruments Incorporated,182.000,183.0000,179.0400,174.0218,186.59296,2.5,Buy,4
46,ROKU,"Roku, Inc.",124.250,130.9000,122.5000,143.4742,280.59820,2.1,Buy,4

In [29]:
mw_file = "articles_scrape_data_normal.csv"
articles_df = pd.read_csv(mw_file)
articles_df.head()

,Unnamed: 0,ticker,analyst_rating,article_title,article_date,link,norm_rating
0,0,AAPL,Over,Apple Inc. stock outperforms market on strong ...,"Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/apple-inc-st...,4
1,1,GOOGL,Buy,Alphabet Inc. Cl A stock underperforms Wednesd...,"Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/alphabet-inc...,5
2,2,MSFT,Buy,"Microsoft Corp. stock falls Wednesday, underpe...","Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/microsoft-co...,5
3,3,AMZN,Buy,What Ryan Cohen’s Insider Buys Say About GameS...,"Mar. 23, 2022 at 6:19 p.m. ET",https://www.marketwatch.com/articles/gamestop-...,5
4,4,FB,Over,"Meta Platforms Inc. stock falls Wednesday, und...","Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/meta-platfor...,4

In [33]:
articles_df = articles_df.drop(columns=['Unnamed: 0'])

KeyError: "['Unnamed: 0'] not found in axis"

In [34]:
articles_df.head()

,ticker,analyst_rating,article_title,article_date,link,norm_rating
0,AAPL,Over,Apple Inc. stock outperforms market on strong ...,"Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/apple-inc-st...,4
1,GOOGL,Buy,Alphabet Inc. Cl A stock underperforms Wednesd...,"Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/alphabet-inc...,5
2,MSFT,Buy,"Microsoft Corp. stock falls Wednesday, underpe...","Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/microsoft-co...,5
3,AMZN,Buy,What Ryan Cohen’s Insider Buys Say About GameS...,"Mar. 23, 2022 at 6:19 p.m. ET",https://www.marketwatch.com/articles/gamestop-...,5
4,FB,Over,"Meta Platforms Inc. stock falls Wednesday, und...","Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/meta-platfor...,4

Connect to database

In [4]:
rds_connection_string = "postgres:admin@localhost:5432/group_2_project_2"
engine = create_engine(f'postgresql://{rds_connection_string}')

Check for tables

In [5]:
engine.table_names()

/var/folders/4s/j3_l93ts54qgnyg57c9s590m0000gn/T/ipykernel_91912/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['stocks', 'articles']

Use Pandas to load dataframe into database

In [21]:
stocks_df.to_sql(name='stocks', con=engine, if_exists='append', index=False)

In [22]:
pd.read_sql_query('select * from stocks', con=engine).head()

,ticker,company_name,day_open,day_high,day_low,fifty_day_moving_avg,two_hundred_day_moving_avg,num_rating,rating,norm_rating
0,AAPL,Apple Inc.,168,173,168,166,155,2,Buy,4
1,GOOGL,Alphabet Inc.,2774,2792,2757,2693,2743,2,Buy,4
2,MSFT,Microsoft Corporation,301,303,298,298,302,2,Buy,4
3,AMZN,"Amazon.com, Inc.",3274,3327,3254,3037,3332,2,Buy,4
4,FB,"Meta Platforms, Inc.",213,217,212,245,320,2,Buy,4

In [32]:
articles_df.columns

Index(['ticker', 'analyst_rating', 'article_title', 'article_date', 'link',
       'norm_rating'],
      dtype='object')

In [38]:
stocks_df['ticker'].count()

47

In [39]:
stocks_list = stocks_df['ticker'].unique()
stocks_list

array(['AAPL', 'GOOGL', 'MSFT', 'AMZN', 'FB', 'GOOG', 'TSLA', 'NVDA',
       'JPM', 'UNH', 'JNJ', 'PG', 'V', 'HD', 'BAC', 'XOM', 'MA', 'DIS',
       'CVX', 'ABBV', 'KO', 'CSCO', 'AVGO', 'COST', 'PEP', 'VZ', 'ADBE',
       'TMO', 'ABT', 'CMCSA', 'WFC', 'CRM', 'LLY', 'INTC', 'WMT', 'MRK',
       'AMD', 'QCOM', 'DHR', 'NKE', 'T', 'NFLX', 'UNP', 'PM', 'LOW',
       'TXN', 'ROKU'], dtype=object)

In [41]:
articles_df.loc[~articles_df['ticker'].isin(stocks_list)]

,ticker,analyst_rating,article_title,article_date,link,norm_rating
18,PFE,Over,Pfizer Inc. stock underperforms Wednesday when...,"Mar. 23, 2022 at 5:14 p.m. ET",https://www.marketwatch.com/story/pfizer-inc-s...,4
34,ACN,Over,Accenture PLC Cl A stock outperforms competito...,"Mar. 23, 2022 at 4:33 p.m. ET",https://www.marketwatch.com/story/accenture-pl...,4

In [36]:
articles_df.to_sql(name='articles', con=engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.ForeignKeyViolation) insert or update on table "articles" violates foreign key constraint "articles_ticker_fkey"
DETAIL:  Key (ticker)=(PFE) is not present in table "stocks".

[SQL: INSERT INTO articles (ticker, analyst_rating, article_title, article_date, link, norm_rating) VALUES (%(ticker)s, %(analyst_rating)s, %(article_title)s, %(article_date)s, %(link)s, %(norm_rating)s)]
[parameters: ({'ticker': 'AAPL', 'analyst_rating': 'Over', 'article_title': 'Apple Inc. stock outperforms market on strong trading day', 'article_date': 'Mar. 23, 2022 at 4:31 p.m. ET', 'link': 'https://www.marketwatch.com/story/apple-inc-stock-outperforms-market-on-strong-trading-day-01648067511-e71f8c6c9d76?mod=mw_quote_news', 'norm_rating': 4}, {'ticker': 'GOOGL', 'analyst_rating': 'Buy', 'article_title': 'Alphabet Inc. Cl A stock underperforms Wednesday when compared to competitors', 'article_date': 'Mar. 23, 2022 at 4:31 p.m. ET', 'link': 'https://www.marketwatch.com/story/alphabet-inc-cl-a-stock-underperforms-wednesday-when-compared-to-competitors-01648067509-a59ce08586d5?mod=mw_quote_news', 'norm_rating': 5}, {'ticker': 'MSFT', 'analyst_rating': 'Buy', 'article_title': 'Microsoft Corp. stock falls Wednesday, underperforms market', 'article_date': 'Mar. 23, 2022 at 4:31 p.m. ET', 'link': 'https://www.marketwatch.com/story/microsoft-corp-stock-falls-wednesday-underperforms-market-01648067510-431d5b555325?mod=mw_quote_news', 'norm_rating': 5}, {'ticker': 'AMZN', 'analyst_rating': 'Buy', 'article_title': 'What Ryan Cohen’s Insider Buys Say About GameStop’s True Value', 'article_date': 'Mar. 23, 2022 at 6:19 p.m. ET', 'link': 'https://www.marketwatch.com/articles/gamestop-ryan-cohen-insider-buys-stock-price-51648072420?mod=mw_quote_news', 'norm_rating': 5}, {'ticker': 'FB', 'analyst_rating': 'Over', 'article_title': 'Meta Platforms Inc. stock falls Wednesday, underperforms market', 'article_date': 'Mar. 23, 2022 at 4:31 p.m. ET', 'link': 'https://www.marketwatch.com/story/meta-platforms-inc-stock-falls-wednesday-underperforms-market-01648067506-b46e071a5d4d?mod=mw_quote_news', 'norm_rating': 4}, {'ticker': 'GOOG', 'analyst_rating': 'Buy', 'article_title': 'Alphabet Inc. Cl A stock underperforms Wednesday when compared to competitors', 'article_date': 'Mar. 23, 2022 at 4:31 p.m. ET', 'link': 'https://www.marketwatch.com/story/alphabet-inc-cl-a-stock-underperforms-wednesday-when-compared-to-competitors-01648067509-a59ce08586d5?mod=mw_quote_news', 'norm_rating': 5}, {'ticker': 'TSLA', 'analyst_rating': 'Over', 'article_title': 'LG Energy Solution to Build Cylindrical Battery Factory in Arizona', 'article_date': 'Mar. 23, 2022 at 5:33 p.m. ET', 'link': 'https://www.marketwatch.com/story/lg-energy-solution-to-build-cylindrical-battery-factory-in-arizona-271648071189?mod=mw_quote_news', 'norm_rating': 4}, {'ticker': 'NVDA', 'analyst_rating': 'Over', 'article_title': 'NVIDIA Corp. stock underperforms Wednesday when compared to competitors', 'article_date': 'Mar. 23, 2022 at 5:11 p.m. ET', 'link': 'https://www.marketwatch.com/story/nvidia-corp-stock-underperforms-wednesday-when-compared-to-competitors-01648069901-8f48972edcf4?mod=mw_quote_news', 'norm_rating': 4}  ... displaying 10 of 49 total bound parameter sets ...  {'ticker': 'TXN', 'analyst_rating': 'Hold', 'article_title': 'Texas Instruments Inc. stock falls Wednesday, underperforms market', 'article_date': 'Mar. 23, 2022 at 5:25 p.m. ET', 'link': 'https://www.marketwatch.com/story/texas-instruments-inc-stock-falls-wednesday-underperforms-market-01648070703-50c8ad4a77c1?mod=mw_quote_news', 'norm_rating': 3}, {'ticker': 'ROKU', 'analyst_rating': 'Over', 'article_title': 'Apple’s Privacy Changes Crushed Facebook. But Roku Could Find an Opportunity.', 'article_date': 'Mar. 22, 2022 at 1:18 p.m. ET', 'link': 'https://www.marketwatch.com/articles/apples-privacy-changes-crushed-facebook-but-roku-could-find-an-opportunity-51647969529?mod=mw_quote_news', 'norm_rating': 4})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [ ]:
pd.read_sql_query('select * from articles', con=engine).head()