In [2]:
# Code to normaize the rataing of the stock from the Yahoo Finance API
import pandas as pd
import os

# Yahoo Finance Cleanup

In [3]:
# Store filepath in a variable
file_one = "yfapi_data.csv"

In [4]:
# Read our Data file with the pandas library
file_one_df = pd.read_csv(file_one, encoding="UTF-8")
file_one_df.head(5)

,Unnamed: 0,ticker,company_name,day_open,day_high,day_low,avg_analyst_rating,fifty_day_moving_avg,two_hundred_day_moving_avg
0,0,AAPL,Apple Inc.,167.99,172.6400,167.65,1.8 - Buy,166.3880,154.85630
1,1,GOOGL,Alphabet Inc.,2774.05,2791.7700,2757.01,1.7 - Buy,2693.1436,2742.93020
2,2,MSFT,Microsoft Corporation,300.51,303.2200,297.73,1.7 - Buy,297.7866,301.60526
3,3,AMZN,"Amazon.com, Inc.",3274.10,3326.5250,3253.74,1.7 - Buy,3036.9736,3331.57800
4,4,FB,"Meta Platforms, Inc.",213.33,216.7988,212.16,2.1 - Buy,245.4686,319.92676

In [5]:
# Split the analyst rating to separate the text from the number
file_one_df[['num_rating','rating']] = file_one_df['avg_analyst_rating'].str.split('-', expand=True)
file_one_df = file_one_df.drop('avg_analyst_rating', axis=1)

In [6]:
# Create normalized rating column
file_one_df['norm_rating'] = ""

In [8]:
# Strip spaces so the for statement will run effectively
file_one_df['rating'] = file_one_df['rating'].str.strip()

In [83]:
# Iterate through the rows and assign a normalized value for the analyst rating to compare across data sets
for index, row in file_one_df.iterrows():
    rating = row['rating']

    if rating == 'Strong Buy':
        norm_rating = 5
    elif rating == 'Buy':
        norm_rating = 4
    elif rating == 'Hold':
        norm_rating = 3
    elif rating == 'Under Perform':
        norm_rating = 2
    else:
        norm_rating = 1 

    file_one_df.loc[index, 'norm_rating'] = norm_rating

file_one_df.head()

,Unnamed: 0,ticker,company_name,day_open,day_high,day_low,fifty_day_moving_avg,two_hundred_day_moving_avg,num_rating,rating,norm_rating
0,0,AAPL,Apple Inc.,167.99,172.6400,167.65,166.3880,154.85630,1.8,Buy,4
1,1,GOOGL,Alphabet Inc.,2774.05,2791.7700,2757.01,2693.1436,2742.93020,1.7,Buy,4
2,2,MSFT,Microsoft Corporation,300.51,303.2200,297.73,297.7866,301.60526,1.7,Buy,4
3,3,AMZN,"Amazon.com, Inc.",3274.10,3326.5250,3253.74,3036.9736,3331.57800,1.7,Buy,4
4,4,FB,"Meta Platforms, Inc.",213.33,216.7988,212.16,245.4686,319.92676,2.1,Buy,4

In [84]:
# Export file as a CSV, without the Pandas index, but with the header
output_path = os.path.join("yfapi_data_nrmal.csv")
file_one_df.to_csv(output_path, index=False, header=True)
print(output_path)

yfapi_data_nrmal.csv

# MarketWatch Cleanup

In [10]:
# Store filepath in a variable
file_two = "articles_scrape_data.csv"

In [11]:
# Read our Data file with the pandas library
file_two_df = pd.read_csv(file_two, encoding="UTF-8")
file_two_df.head(5)

,Unnamed: 0,ticker,analyst_rating,article_title,article_date,link
0,0,AAPL,Over,Apple Inc. stock outperforms market on strong ...,"Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/apple-inc-st...
1,1,GOOGL,Buy,Alphabet Inc. Cl A stock underperforms Wednesd...,"Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/alphabet-inc...
2,2,MSFT,Buy,"Microsoft Corp. stock falls Wednesday, underpe...","Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/microsoft-co...
3,3,AMZN,Buy,What Ryan Cohen’s Insider Buys Say About GameS...,"Mar. 23, 2022 at 6:19 p.m. ET",https://www.marketwatch.com/articles/gamestop-...
4,4,FB,Over,"Meta Platforms Inc. stock falls Wednesday, und...","Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/meta-platfor...

In [12]:
# Create normalized rating column
file_two_df['norm_rating'] = ""

In [13]:
# Iterate through the rows and assign a normalized value for the analyst rating to compare across data sets
for index, row in file_two_df.iterrows():
    rating = row['analyst_rating']

    if rating == 'Buy':
        norm_rating = '5'
    elif rating == 'Over':
        norm_rating = '4'
    elif rating == 'Hold':
        norm_rating = '3'
    elif rating == 'Under':
        norm_rating = '2'
    else:
        norm_rating = '1' 

    file_two_df.loc[index, 'norm_rating'] = norm_rating

file_two_df.head()

,Unnamed: 0,ticker,analyst_rating,article_title,article_date,link,norm_rating
0,0,AAPL,Over,Apple Inc. stock outperforms market on strong ...,"Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/apple-inc-st...,4
1,1,GOOGL,Buy,Alphabet Inc. Cl A stock underperforms Wednesd...,"Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/alphabet-inc...,5
2,2,MSFT,Buy,"Microsoft Corp. stock falls Wednesday, underpe...","Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/microsoft-co...,5
3,3,AMZN,Buy,What Ryan Cohen’s Insider Buys Say About GameS...,"Mar. 23, 2022 at 6:19 p.m. ET",https://www.marketwatch.com/articles/gamestop-...,5
4,4,FB,Over,"Meta Platforms Inc. stock falls Wednesday, und...","Mar. 23, 2022 at 4:31 p.m. ET",https://www.marketwatch.com/story/meta-platfor...,4

In [94]:
# Export file as a CSV, without the Pandas index, but with the header
output_path = os.path.join("articles_scrape_data_normal.csv")
file_two_df.to_csv(output_path, index=False, header=True)
print(output_path)

articles_scrape_data_normal.csv